@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

#familyofthree {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/Home/familyofthree.webp");
  background-size: cover;
  background-position: center;
  top: 0;
}
