@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  height: 100dvh;
  width: 100dvw;
}

#familyofthree {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/Home Updated/familyofthree.webp'); */
  background-image: url('/images/Home Updated/familyofthree.webp');
  background-size: cover;
  background-position: center;
  top: 0;
}

#familyoffivephotosittingonrocks {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/Contact/Familyoffivephotosittingonrocks.webp'); */
  background-image: url('/images/Contact/Familyoffivephotosittingonrocks.webp');
  background-size: cover;
  background-position: center;
  top: 0;
}

#storyholdinghands {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/Pricing/holdinghandstampafl.webp');
  background-size: cover;
  background-position: center;
  top: 0;
}

#portfoliocouple {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/Experience/happytampacouple.webp');
  background-size: cover;
  background-position: center;
  top: 0;
}

#familygallerylink {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/Portfolio Main/familyphoto.webp');
  background-size: cover;
  background-position: center;
  top: 0;
  cursor: pointer;
}

#familygallerytop {
  background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
  background-size: cover;
  background-position: center;
  top: 0;
  cursor: pointer;
}
#familygallerytop {
  background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
  background-size: cover;
  background-position: 0 -100px;
  top: 0;
  cursor: pointer;
}

@media all and (max-width: 2000px) {
  #familygallerytop {
    background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
    background-size: cover;
    background-position: 0 -220px;
    top: 0;
    cursor: pointer;
  }
}

@media all and (max-width: 1500px) {
  #familygallerytop {
    background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
    background-size: cover;
    background-position: 0 -175px;
    top: 0;
    cursor: pointer;
  }
}

@media all and (max-width: 1250px) {
  #familygallerytop {
    background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
    background-size: cover;
    background-position: 0 -100px;
    top: 0;
    cursor: pointer;
  }
}

@media all and (max-width: 800px) {
  #familygallerytop {
    background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
    background-size: cover;
    background-position: 0 -50px;
    top: 0;
    cursor: pointer;
  }
}

@media all and (max-width: 400px) {
  #familygallerytop {
    background-image: url('/images/Family Gallery/tampafamilyphoto.webp');
    background-size: cover;
    background-position: center;
    top: 0;
    cursor: pointer;
  }
}

#couplewithdaughter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/Pricing/couplekissingtheirdaughter.webp');
  background-size: cover;
  background-position: center;
  top: 0;
  cursor: pointer;
}

.vertical-rl {
  writing-mode: vertical-rl;
  transform: scale(-1);
}

#review-carousel .react-multiple-carousel__arrow {
  background: transparent !important;
}

#review-carousel .react-multiple-carousel__arrow--left::before,
#review-carousel .react-multiple-carousel__arrow--right::before {
  color: black !important;
}

.a-bold a {
  font-weight: 500;
}
